.tile {
  position: absolute;
  top: 0;
  left: 0;
  content-visibility: auto;
  contain: strict;
}

.walkable {
}
.blocked {
  &::before {
    content: '';
    //background: red;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.label {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 4px;
  background: white;
  color: black;
  font-family: monospace;
  white-space: pre;
  font-weight: bolder;
  border-radius: 5px;
}
